.section.section--landing
  .landing__top-bar
  ._table
    ._table__valign
    
      .entrance-fade-in
        h1 greaterThan
        h4 build beautiful websites with ease
        a.button.button--cta.js-signup-prompt sign up!
        a.button.js-signup-prompt more info
