.section--landing
  background-image: url('/images/sections/landing-background.jpg')
  background-size: cover
  // background-attachment: fixed

.landing__top-bar
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 6px
  background-color: color-main
  z-index: 10
