h1,h2,h3,h4,h5,h6,a,p
  color: color-white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: 'Work Sans', sans-serif

a, p, h4, h5, h6
  font-weight: 300

h1, h2, h3
  font-weight: 100

h1
  font-size: 5.4em
  margin-bottom: 15px

h2
  font-size: 2.8em

h4
  font-size: 1.4em
  margin-bottom: 30px
