color-main = #1982C4
color-second = #FFCA3A
color-white = white

midAnimWidth = 1441px
desktop = 1025px
tablet = 415px
mobile = 321px
bezier = cubic-bezier(0,0,.58,1)

*
  box-sizing: border-box

body
  overflow-x: hidden

._table
  display: table
  width: 100%
  height: 100%

._table__valign
  display: table-cell
  text-align: center
  vertical-align: middle

.helper-clear
  clear: both

.fade-in
  opacity: 1

.entrance-fade-in
  opacity: 0
  animation: entranceFadeIn 0.3s bezier 0.3s 1 normal forwards

@keyframes entranceFadeIn
  0%
    opacity: 0
    transform: translateY(5px)
  100%
    transform: translateY(0)
    opacity: 1
