.section--signup
  background-color: color-grey-blue

.signup__form
  width: 30%
  margin: 0 auto

.signup__button
  background-color: color-pink
  color: white
  cursor: pointer
  position: relative

.form-el-cont,
.signup__button__text
  transition: opacity 200ms linear
