.section.section--info.js-info

  h2.info__header How does it work?
  
  .info__block-cont
  
    .info__block
        include ../../../dist/images/info/light-bulb.svg
    .info__block
        include ../../../dist/images/info/laptop.svg
    .info__block
        include ../../../dist/images/info/diagram.svg
