.section--info
    height: 70vh
    background-color: white
    &:after
      display: block
      position: absolute
      content: ''
      width: 30px
      height: 30px
      top: 100%
      left: 50%
      background-color: white
      transform: translate(-50%, -50%) rotate(45deg)
      z-index: 1

.info__header
    color: color-black
    text-align: center
    padding-top: 40px
    margin: 0 auto 60px

.info__block-cont
    width: 95%
    margin: 0 auto

.info__block
    width: 31%
    margin: 0 1%
    text-align: center
    float: left
    svg
        width: 25%

.info__block--laptop
    transform: scale(1.4)
