.section.section--signup#signup
  ._table
    ._table__valign

      form.js-signup-form.signup__form
        input(type="text" placeholder="Email" name="email").signup__input
        input(type="password" placeholder="password" name="password").signup__input
        button(type="submit").signup__button Sign up
