.section--signup
  background-color: color-main

.signup__form
  width: 30%
  margin: 0 auto

.signup__button,
.signup__input
  transform: translateX(-10px)
  opacity: 0

.signup__button
  background-color: color-second
  color: white

.signup--fade-in
  animation: fadeInFromLeft 0.2s bezier 0.1s 1 normal forwards

@keyframes fadeInFromLeft
  0%
    opacity: 0
    transform: translateX(-10px)
  100%
    opacity: 1
    transform: translateX(0)
