doctype html
html

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title
		//- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="assets/css/index.css", rel="stylesheet")
		block css
		
		include ../helpers/template/ga

	body
		block header
		main.container
			block content
		script(src="assets/js/index.js")
		block js
