section.section.section--landing
  .landing__top-bar
  ._table
    ._table__valign
    
      .entrance-fade-in
        h1.landing__h1 JUNIP
          span.landing__h1__dot .
        h4 build beautiful websites with ease
        a.button.button--cta.js-signup-prompt sign up!
        a.button.js-info-prompt more info
