.section.section--landing
  .landing__top-bar
  ._table
    ._table__valign
    
      .entrance-fade-in
        h1 junip
        h4 excellent tagline
        a.button.button--cta.js-signup-prompt sign up!
        a.button.js-info-prompt more info
