.section
  position: relative
  width: 100vw
  height: 100vh

.button
  display: inline-block
  cursor: pointer
  text-decoration: none
  padding: 10px 15px
  margin: 0 10px
  background-color: color-blue
  color: color-white
  transition: transform 0.15s bezier
  transform: scale(1.00)
  &:hover
    transform: scale(1.10)

.button--cta
  background-color: color-pink
  color: color-white

.input
  width: 100%
  padding: 10px
  font-family: 'Work Sans', sans-serif
  font-weight: 300
  font-size: 1.2em
  margin-bottom: 10px
  -webkit-appearance: none;
  outline: none
  border: none
  display: block
  transition: transform 0.1s bezier
  &:focus
    transform: scale(1.15)
